html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'IBM Plex Sans';
    font-size: 16px;
    background-color: #fbfbfb;
}

body * {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Inter';
    font-weight: 700;
}

h1 {
    font-size: 72px;
    line-height: 1.0;
    letter-spacing: -3px;
    margin-top: 0px;
    margin-bottom: 16px;
}

@media(max-width: 800px) {
    h1 {
        font-size: 48px;
    }
}

p {
    line-height: 1.5;
}

code {
    background-color: #eee;
    padding: 4px 8px;
    border-radius: 4px;
    font-family: 'IBM Plex Mono';
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

a:hover {
    border-color: #0000ff;
    color: #0000ff;
}