name: Deploy documentation

on:
  push:
    branches:
      - main

jobs:
  deploy-doc:
    name: Deploy API doc on Bump
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Deploy API documentation
        uses: bump-sh/github-action@0.1
        with:
          id: ${{ secrets.BUMP_DOC_ID }}
          token: ${{ secrets.BUMP_ACCESS_TOKEN }}
          file: doc/api-documentation.yml   